

@{
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="@Url.Action("ImportFile","LngAllowance")" enctype="multipart/form-data" method="post">
    
            <div class="row">
                <input type="text" class="inline" disabled="disabled"/>
                <input class="inline btn-link" type="file" name="file" id="id-input-file-2">
            </div>
 
            <div class="row">
                <br/>
            </div>
            <div class="row">
                <input class="btn btn-sm btn-success" type="submit" name="Submit" id="Submit" value="上传" />
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>


@section scripts
{

}
